* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}

nav {
    -webkit-box-align: center;
    position: fixed;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-end;

}

nav .download {
    color: #fff;
    padding: 20px;
}
section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section .main {
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .main .searchBox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

section .main .searchBox .search {
    width: 100%;
    padding: 13px 30px 13px 45px;
    border-radius: 30px;
    border: 1px solid #1f232a;
    outline: none;
    font-size: 16px;
}

section .main .searchBox .icons {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}