* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: #679ed1 !important;
    text-decoration: underline !important;
}

nav {
    -webkit-box-align: center;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-end;

}

nav .navLink {
    color: #fff;
    padding: 20px;
}

section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

section .main {
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .main .searchBox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

section .main .searchBox .search {
    width: 100%;
    padding: 13px 30px 13px 45px;
    border-radius: 30px;
    border: 1px solid #1f232a;
    outline: none;
    font-size: 16px;
}

section .main .searchBox .icons {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.social-icons {
    display: flex;
    list-style: none;
    margin: 1rem;
    padding-left: 0;
}

.social-icons>li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.social-icons a {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color .3s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .25rem;
}

.social-icons a:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.social-icons a::before {
    content: "";
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    left: .65rem;
    top: .65rem;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.social-icons .social-icon-vk::before {
    background-image: url("/static/img/vk.svg");
}

.social-icons .social-icon-telegram::before {
    background-image: url("/static/img/telegram.svg");
}

.social-icons .contact-icon::before {
    width: 5.2rem;
    height: 5.2rem;

}
.social-icons .contact-icon {
    display: inline-block;
    margin: 6px;
    max-width: 25%;
    width: 5.2rem;
    height: 5.2rem;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
}


.tabs {
    font-size: 0;
    width: 100%;
    color: #fff;
}

.tabs>input[type="radio"] {
    display: none;
}

.tabs>div {
    /* скрыть контент по умолчанию */
    display: none;
    padding: 10px 10%;
    font-size: 16px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#list,
#tab-btn-2:checked~#table,
#tab-btn-3:checked~#pic {
    display: block;
}

.obj {
    height: 10px;
    color: #fff;
    padding: 10px;
    vertical-align: middle;
    line-height:30px;
}

.obj:hover {
    text-decoration: none !important;
    color: #fff !important;
}

.tabs>label {
    background-color: #16191d;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.tabs>label:not(:first-of-type) {
    border-left: none;
}

.tabs>input[type="radio"]:checked+label {
    background-color: #2c313c;
}

#list li:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #55aaff;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 0 15px;
    font-weight: 400;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #679ed1;
}
td {
    background: #D8E6F3;
}
tr:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #55aaff;
}

.labels {
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 10px;
}

.card {
    width: 180px;
    height: 200px;
    padding: 10px;
}
.card:hover {
    background-color: rgba(85, 170, 255, 0.42);
}
.card h5 {
    text-decoration: none !important;
    font-size: 16px;
    color: #fff;
}