{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div id="content">
    <div class="tabs">
        <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
        <label for="tab-btn-1">Список</label>
        <input type="radio" name="tab-btn" id="tab-btn-2" value=""  {{ checked if type_view == 'table'}}>
        <label for="tab-btn-2">Таблица</label>
        <input type="radio" name="tab-btn" id="tab-btn-3" value=""  {{ checked if type_view == 'pic'}}>
        <label for="tab-btn-3">Значки</label>

        <div id="list">
            <ul style="list-style-image: url('/static/img/folder.svg'); width: 100%;">
            {% for dir in dirs %}
                <li><a class="obj" href="javascript:ChangeDir('{{ dir.id_object }}', 'list')">{{ dir.name }}</a></li>
            {% endfor %}
            </ul><ul style="list-style-image: url('/static/img/file.svg')">
            {% for file in files %}
                <li><a class="obj" href="javascript:SaveFile('{{ file.id_object }}', '{{ file.name }}')">{{ file.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div id="table">
            <table>
                <tr style="padding-bottom: 5px">
                    <th></th>
                    <th class="labels" style="text-align: left;">Name</th>
                    <th class="labels">Date</th>
                    <th class="labels">Type</th>
                    <th class="labels">Size</th>
                </tr>
                {% for dir in dirs %}
                    <tr>
                        <th><img  style="width: 25px; height: auto" src="/static/img/folder.svg"></th>
                        <th style="text-align: left;">
                            <a style="padding: 0;" class="obj" href="javascript:ChangeDir('{{ dir.id_object }}', 'table')">{{ dir.name }}</a>
                        </th>
                        {% if dir.name != '..' %}
                            <th>{{ dir.info.date }}</th>
                            <th>Folder</th>
                            <th>{{ dir.info.size }}</th>
                        {% else %}
                            <th></th>
                            <th>Folder</th>
                            <th></th>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% for file in files %}
                    <tr>
                        <th><img  style="width: 25px; height: auto" src="/static/img/file.svg"></th>
                        <th style="text-align: left;">
                            <a style="padding: 0" class="obj" href="javascript:SaveFile('{{ file.id_object }}', '{{ file.name }}')">{{ file.name }}</a>
                        </th>
                        <th>{{ file.info.date }}</th>
                        <th>File</th>
                        <th>{{ file.info.size }}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="pic">
            <div style="display: -webkit-box">
                {% for dir in dirs %}
                    <div>
                        <a href="javascript:ChangeDir('{{ dir.id_object }}', 'pic')">
                            <div class="card">
                                <img width="150px" height="150px" src="/static/img/folder.svg" alt="Item">
                                <h5>{{ dir.name }}</h5>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {% for file in files %}
                    <div>
                        <a href="javascript:SaveFile('{{ file.id_object }}', '{{ file.name }}')">
                            <div class="card">
                                <img width="150px" height="150px" src="/static/img/file.svg" alt="Item">
                                <h5>{{ file.name }}</h5>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



    <script type="text/javascript">

        function ChangeDir(id_object, type_view) {
            $.post("/" + "{{ address }}", { id_object: id_object, type_object: "dir", type_view: type_view},
                function(data) {
                    $("#content").html(data);
            } );

        }

        function SaveFile(id_object, file_name) {
            //$("#content").html('<a href="/{{ address }}?id_object=' + id_object + '&file_name=' + file_name + '">Ссылка</a>');

            $.post("/" + "{{ address }}", { id_object: id_object, type_object: "file", file_name: file_name,
                    state: document.getElementById('download_or_preview').value},
                function(data) {
                    if (document.getElementById('download_or_preview').value == "Скачивать") {
                        const a = document.createElement('a');
                        a.style.display = 'none';
                        a.href = data;
                        a.download = ''
                        a.click();
                    } else {
                        if (!data == "") {
                            $("#content").html(data);
                        }
                    }
                }
            );
        }
        function ChangeClient() {
            document.location.href = "/" + document.getElementById('search_address').value
        }
        function ChangeDownloadOrPreview() {
            if (document.getElementById('download_or_preview').value == "Скачивать") {
                document.getElementById('download_or_preview').value = "Отображать";
            }
            else {
                document.getElementById('download_or_preview').value = "Скачивать";
            }
        }
    </script>
{% endblock %}

