{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
     <nav>
        <a href="http://77.242.108.234/static/download/DeCloudSetup.exe" class="navLink">Download App</a>
        <a href="http://77.242.108.234/static/Documentation.pdf" class="navLink">Documentation</a>
        <a href="https://github.com/MariaZyryanova72/DeCloud" class="navLink">Source Code</a>
    </nav>
    <section>
        <div class="main">
            <h1 style="color: #fff; font-size: 60px;">DeCloud</h1>
            <div class="searchBox">
                <form method="post">
                    <input name="input" class="search" type="text" placeholder="Введите адрес хранилища или URL" >
                    <div class="icons">
                        <div><img src="/static/img/search.svg"></div>
                    </div>
                    <p style="color: red; text-align: left; padding: 12px 0; font-size: 18px">{{ message }}</p>
                </form>

            </div>
        </div>
    </section>

    <footer>
        <ul class="social-icons">
            <li><a class="social-icon-vk" href="https://vk.com/decloud" title="vk" rel="noopener"></a></li>
            <li><a class="social-icon-telegram" href="https://t.me/decloud_public" title="telegram" rel="noopener"></a></li>
        </ul>
    </footer>
{% endblock %}
